body{
	background-color: lightgrey;
	background-size: cover;
	background-position: center;
	font-family: lato

}

html{
	 height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);

}
h1{
	color: white;
	font-weight: 700;
	font-size: 5em;
}
h3{
	color: white;
	font-weight: 
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

p{
	color: white;
}

.home_background{
	background: #161415 url(https://images.unsplash.com/photo-1517499599364-261589d9cdfc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70f090238b227a5292fa51d59ad852f8&auto=format&fit=crop&w=1440&q=80) no-repeat top center;
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 100%;
   padding-bottom: 30px;s
   text-align: center;
}

.about_background{
	padding-top: 50px;
}

.portfolio_background{
	padding-top: 50px;
}

.contact_background{
	padding-top: 50px;
	padding-bottom: 50px;
}

#contact_form{
	padding-right: 10%;
	padding-left: 10%;
}

footer {
   padding-top: 25px;
   padding-bottom: 15px;
   
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-color: darkgrey;
}

/*.footer {*/
	/*background-color: darkgrey;
   padding-top: 48px;
   
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: fixed;*/

  
/*  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgrey;
  color: white;
  text-align: center;
  margin-top: 25px
}*/

.social-links li{
	display: inline-block;
}